body {
    overflow-y: scroll;
    background-color: rgb(210, 210, 210) !important;
}

.navbar-brand {
    font-family: 'Teko', sans-serif;
    font-size: 260% !important;
}

.nav {
    color: black !important;
}

nav {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    box-shadow: 0px 2.5px 3px #888888;
}

span {
    display: inline-block !important;
    white-space: nowrap !important;
    overflow-x: auto !important; 
}

.instagram > * {
    border: none !important;
}

.active {
    border-bottom: solid 2.5px;
    border-bottom-color: #0000fe;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.status_icon {
    width: 20px;
}

.nav-link {
    color: rgb(67, 67, 67) !important;
    font-size: 80% !important;
}

.cards {
    border-radius: 10px !important;
    overflow-y: auto;
    border: solid 1px !important;
    border-color: #9d9d9d !important;
}

.card {
    border: none !important;
}

.modal-body {
    overflow-y: auto;
}

.card-title {
    font-family: 'Teko', sans-serif;
    font-size: 250% !important;
}

.item {
    font-size: 75% !important;
}

table {
    font-size: 90% !important;
}

#carouselExampleIndicators {
    border-radius: 19px;
    border: solid 2.5px;
    border-color: #000000;
}

.rosterpic {
    margin-right: 1%;
    border: solid 2px;
    border-color: #bdbdbd;
    border-radius: 100%;
    width: 40px;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #ffffff;
}


/* Smartphones */
@media (min-width: 320px) and (max-width: 480px) {

    .aau {
        display: none;
    }

    .navbar-brand {
        font-size: 225% !important;
    }
    
    .royals-logo {
        width: 50px !important;
    }
}